.calendar {
    display: flex;
    flex: 1;
    width: 100vw;
    overflow-y: scroll;
    padding-top: 32px;
    justify-content: center;
    min-width: 1300px;
    overflow-x: hidden;
}



@media (max-width: 1420px) {
    .calendarCapsule {
        transform: scale(0.95);
    }
}

@media (max-width: 1359px) {
    .calendar {
        overflow-x: scroll;
    }    
}

.calendarCapsule {
    display: flex;
    gap: 12px; 
    flex-wrap: wrap;
    align-items: flex-start;
}

.bar {
    width: 3px;
    background-color: rgb(243, 243, 243);

    border-radius: 20%;
}

