.calendar {
    display: flex;
    flex: 1;
    width: 100vw;
    overflow-y: scroll;
    padding-top: 32px;
    justify-content: center;
}

.calendarCapsule {
    display: flex;
    gap: 12px; 
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1380px;
}

.bar {
    width: 3px;
    background-color: rgb(243, 243, 243);
    height: 500px;
    border-radius: 20%;
}

