.day {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    position: relative;
}

.title {
    margin-top: 14px;
    font-size: 40px;
    text-align: center;
}

.subTitle {
    font-size: 30px;
    text-align: center;
    font-style: italic;
    margin-bottom: 6px;
}



.bar {
    background-color: black;
    width: 4px;
}