$fontFamily: sans-serif;


.eventDiv {

    min-height: 200px;
    min-width: 170px;
    max-width: 170px;
    background-color: #BFD7D9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 6px #80808054;
}

.eventTitle {

    font-family: $fontFamily;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;  
    overflow-wrap: break-word;
    width: 90%;  
}

.eventDesc {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    overflow-wrap: break-word;
    width: 90%;
}

.eventCoord {
    font-family: $fontFamily;
    font-style: italic;
    font-weight: 700;
    font-size: 13px;
}

.eventUL {
    text-align: left;
    span {
        font-style: italic;
        font-weight: 600;
    }

}

.eventID {
    width: 80px;
    height: 28px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-family: $fontFamily;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        color: black;
    }
}