$navbarColor: rgb(228, 228, 228);
$backgroundColor: rgb(255, 255, 255);
$borderRadius: 15px;



.middleContainer {
    
    width: 100%;
    height: 56px;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navbarTop {
    display: flex;
    align-items: center;
    background-color: $navbarColor;
    height: 56px;
    min-width: 1300px;
    justify-content: space-around;
}


.logoPWD {

    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: green;
    font-weight: 900;
    margin-right: 11px;
    text-shadow: 1px 1px 2px rgb(95, 95, 95);
    margin-left: auto;

    span {
        color: rgb(12, 12, 87);
    }

}


.undoButton {

    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;


    &:hover {
       background-color: rgb(255, 255, 255); 
       cursor: pointer;
    }
}

.icons {
    
    vertical-align: middle;
    filter: invert(50%);
    
}

.dateInput {
    border-radius: 8px;
    min-height: 24px;
    border: none;
    font-weight: 600;
    text-align: center;
}