$navbarColor: rgb(228, 228, 228);
$backgroundColor: rgb(255, 255, 255);
$borderRadius: 15px;

.userCircle {
    
    background-color: $backgroundColor;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    transition: 0.5s;
    margin-left: 11px;
    display: flex;
    justify-content: center;
    align-items: center;


    &:hover {
        background-color: rgb(236, 243, 237);
        cursor: pointer;
    }
}

.navbarTop {
    display: flex;
    align-items: center;
    background-color: $navbarColor;
    height: 56px;
    min-width: 1000px;

    span {

        font-size: larger;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: green;
        font-weight: 900;
        margin-right: 11px;
        text-shadow: 1px 1px 2px rgb(95, 95, 95);
        margin-left: auto;

        span {
            color: rgb(12, 12, 87);
        }

    }
}




.navbarBot {
    position: absolute;
    height: 120px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.icons {
    vertical-align: middle;
    filter: invert(50%);
    
}

//butons

.buttonsContainer {
    min-width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.button {

    background-color: $backgroundColor;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 1.5em;
    transition: 0.5s;


    &:hover {
        background-color: rgb(236, 243, 237);
        cursor: pointer;
    }
}

.buttonRefresh {

    background-color: $backgroundColor;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    position: absolute;
    right: 50px;
    bottom: 30px;


    &:hover {
        background-color: rgb(236, 243, 237);
        cursor: pointer;
    }
}

.deactivatedButton {
    background-color: $navbarColor;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 1.5em;
    transition: 0.5s; 
}

.buttonDelete {

    background-color: $backgroundColor;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 1.5em;
    transition: 0.5s;
    
    &:hover {
        background-color: rgb(236, 217, 217);
        cursor: pointer;
    }

}