$navbarColor: rgb(228, 228, 228);
$backgroundColor: rgb(255, 255, 255);
$borderRadius: 15px;






.navbarBot {
    left: 30px;
    position: absolute;
    height: 90px;
    width: calc(100vw - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15px;
}

.icons {
    vertical-align: middle;
    filter: invert(50%);
    
}

//butons

.buttonsContainer {
    min-width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.button {

    background-color: $backgroundColor;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 1.5em;


    &:hover {
        background-color: rgb(236, 243, 237);
        cursor: pointer;
    }
}

.buttonRefresh {

    background-color: $backgroundColor;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    position: absolute;
    right: 20px;
    bottom: 30px;


    &:hover {
        background-color: rgb(236, 243, 237);
        cursor: pointer;
    }
}

.deactivatedButton {
    background-color: $navbarColor;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 1.5em;
}

.buttonDelete {

    background-color: $backgroundColor;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 1.5em;
    
    &:hover {
        background-color: rgb(236, 217, 217);
        cursor: pointer;
    }

}